ac-comphist.dat
ede-projects.el
auto-save-list/
eshell/
url/
elpa/*-readme.txt
elpa/archives/gnu
elpa/gnupg
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
bookmarks
ido.last
places